input {
    keyboard {
        xkb {
            layout "us,gr"
            options "grp:win_space_toggle,compose:rctrl,lv3:ralt_switch"
        }
        numlock
    }

    touchpad {
        accel-speed -0.3 // TODO: find
        accel-profile "adaptive" // TODO: confirm
        scroll-factor 0.4
        natural-scroll
        tap
        dwt
        click-method "button-areas"
        // disabled-on-external-mouse // TODO: keybind for `off`
    }
    mouse {
        accel-speed -0.22
        accel-profile "flat"
        scroll-factor 0.8
    }
    touch { off; }

    focus-follows-mouse // TODO: max-scroll-amount?
    warp-mouse-to-focus
}

// TODO: configure output globally when nix
output "eDP-2" {
    mode "2560x1600@165"
    scale 1.33
    variable-refresh-rate
    focus-at-startup
}

layout {
    // TODO: find
    gaps 6
    struts {
        top 0
        bottom 0
        left "2%"
        right "2%"
    }

    center-focused-column "on-overflow"
    always-center-single-column

    default-column-display "tabbed"

    preset-column-widths {
        proportion 1.0
        proportion 0.5
        proportion 0.7
        proportion 0.3
    }
    default-column-width { proportion 1.0; }

    preset-window-heights {
        proportion 1.0
        proportion 0.5
    }

    focus-ring { off; }

    border {
        width 2
        active-color "#88c0d0"
        inactive-color "#3b4252"
        urgent-color "#d08770"
    }

    shadow { off; }
}

environment {
    CLUTTER_BACKEND "wayland"
    NIXOS_OZONE_WL "1"

    SDL_VIDEODRIVER "wayland,x11"
    SDL_AUDIODRIVER "pipewire,pulseaudio,pulse"

    QT_QPA_PLATFORM "wayland;xcb"
    QT_AUTO_SCREEN_SCALE_FACTOR "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
}

// TODO: overview?

recent-windows { off; }

animations {
    workspace-switch { off; }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    recent-windows-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.001
    }
}

gestures {
    hot-corners { off; }
}

hotkey-overlay { skip-at-startup; }

prefer-no-csd

screenshot-path "~/files/pictures/screenshots/%Y-%m-%d_%H-%M-%S.%N.png"

// TODO: (set with nix) xwayland-satellite "xwayland-satellite"


spawn-sh-at-startup "$TERMINAL --class=btop --title=btop -e btop"
window-rule {
    open-on-workspace "1"
    open-maximized-to-edges true
    open-focused true
    match title=r#"^btop$"# at-startup=true
}

spawn-at-startup "thunderbird"
window-rule {
    open-on-workspace "2"
    open-maximized-to-edges true
    open-focused false
    match app-id=r#"^thunderbird$"# at-startup=true
}

spawn-at-startup "org.signal.Signal"
window-rule {
    open-on-workspace "3"
    open-maximized-to-edges true
    open-focused false
    match app-id=r#"^org\.signal\.Signal$"# at-startup=true
}

spawn-at-startup "dev.vencord.Vesktop"
window-rule {
    open-on-workspace "4"
    open-maximized-to-edges true
    open-focused false
    match app-id=r#"^vesktop$"# at-startup=true
}

spawn-at-startup "org.zulip.Zulip"
window-rule {
    open-on-workspace "5"
    open-maximized-to-edges true
    open-focused false
    match app-id=r#"^Zulip$"# at-startup=true
}

spawn-at-startup "im.riot.Riot"
window-rule {
    open-on-workspace "6"
    open-maximized-to-edges true
    open-focused false
    match app-id=r#"^im\.riot\.Riot$"# at-startup=true
}


window-rule {
    open-floating true
    match app-id=r#"^xdg-desktop-portal(|-.*)$"#
    match app-id=r#"^qalculate-gtk$"#
    match app-id=r#"^Matplotlib$"#
    match app-id=r#"^swayimg(|_.*)$"#
    match app-id=r#"^librewolf$"# title=r#"^Library$"# // bookmarks
    match app-id=r#"^librewolf$"# title=r#"^Picture-in-Picture$"#
    match app-id=r#"^thunderbird$"# title=r#"^$"# // events
    match app-id=r#"^thunderbird$"# title=r#"^Check Spelling$"#
    match app-id=r#"^dev-nohus-rift-MainKt$"#
    match app-id=r#"^dragon-drop$"#
}

window-rule {
    open-floating true
    match app-id=r#"^steam$"#
    exclude title=r#"^Steam$"#
}

window-rule {
    open-fullscreen true
    open-floating false
    variable-refresh-rate true
    force-render true
    force-render-fps 15
    match app-id=r#"^steam_app_.*$"#
    match app-id=r#"^dota2$"#
    match app-id=r#"^Terraria\.bin\.x86_64$"#
    match app-id=r#"^factorio$"#
    match app-id=r#"^openttd$"#
    match app-id=r#"^net-runelite-client-RuneLite$"#
}

layer-rule {
    block-out-from "screencast"
    match namespace=r#"^waybar$"#
    match namespace=r#"^menu$"#
    match namespace=r#"^notifications$"#
}


// TODO: use nix
workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"
workspace "6"
workspace "7"
workspace "8"
workspace "9"
workspace "0"
workspace "q"
workspace "w"
workspace "e"
workspace "r"
workspace "a"
workspace "s"
workspace "d"
workspace "f"

binds {
    Mod+Return repeat=false { spawn-sh "bemenu-run -p Run >>/tmp/exec.log 2>&1"; }
    Mod+Shift+Return repeat=false { spawn-sh "$TERMINAL >>/tmp/exec.log 2>&1"; }
    Mod+Ctrl+Return repeat=false { spawn-sh "$BROWSER >>/tmp/exec.log 2>&1"; }
    Mod+Ctrl+Shift+Return repeat=false {
        spawn-sh "bemenu -p 'niri msg' </dev/null | xargs niri msg"
    }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Shift+X repeat=false { close-window; }
    Mod+Ctrl+X repeat=false { spawn "loginctl" "lock-session"; }
    Mod+Ctrl+Shift+X repeat=false { spawn "~/niri-power-menu.sh"; } // TODO: nix

    Mod+J repeat=false { focus-window-down; }
    Mod+K repeat=false { focus-window-up; }
    Mod+H repeat=false { focus-column-left; }
    Mod+L repeat=false { focus-column-right; }

    Mod+Shift+J repeat=false { move-window-down; }
    Mod+Shift+K repeat=false { move-window-up; }
    Mod+Shift+H repeat=false { move-column-left; }
    Mod+Shift+L repeat=false { move-column-right; }

    Mod+Ctrl+H repeat=false { focus-column-first; }
    Mod+Ctrl+L repeat=false { focus-column-last; }
    Mod+Ctrl+Shift+H repeat=false { move-column-to-first; }
    Mod+Ctrl+Shift+L repeat=false { move-column-to-last; }

    Mod+Ctrl+J repeat=false { switch-preset-column-width; }
    Mod+Ctrl+K repeat=false { switch-preset-column-width-back; }
    Mod+Ctrl+Shift+J repeat=false { switch-preset-window-height; }
    Mod+Ctrl+Shift+K repeat=false { switch-preset-window-height-back; }

    Mod+Minus { set-column-width "-5%"; }
    Mod+Equal { set-column-width "+5%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Equal { set-window-height "+5%"; }

    Mod+Tab repeat=false { toggle-column-tabbed-display; }
    Mod+Shift+Tab repeat=false { maximize-column; }

    Mod+O repeat=false { consume-window-into-column; }
    Mod+Shift+O repeat=false { expel-window-from-column; }

    Mod+Z repeat=false { fullscreen-window; }
    Mod+Shift+Z repeat=false { maximize-window-to-edges; }
    Mod+Ctrl+Z repeat=false { toggle-window-floating; }
    Mod+Ctrl+Shift+Z repeat=false { switch-focus-between-floating-and-tiling; }

    Mod+M repeat=false { center-visible-columns; }
    Mod+Shift+M repeat=false { center-column; }
    Mod+Ctrl+M repeat=false { expand-column-to-available-width; }

    Mod+P repeat=false { screenshot-screen; }
    Mod+Shift+P repeat=false { screenshot-window; }
    Mod+Ctrl+P repeat=false { screenshot show-pointer=false; }

    Mod+V repeat=false { spawn "bemenu-cliphist"; }
    Mod+Shift+V repeat=false { spawn-sh "cliphist list | bemenu -p Delete -cl 10 -W 0.5 | cliphist delete"; }
    Mod+Ctrl+Shift+V repeat=false { spawn-sh "wl-copy -c; cliphist wipe"; }

    Mod+U repeat=false { spawn "="; }
    Mod+Shift+U repeat=false { spawn "pcmanfm"; }
    Mod+Ctrl+U repeat=false { spawn "clipbrowse"; }

    Mod+N repeat=false { spawn "dunstctl" "context"; }
    Mod+Shift+N repeat=false { spawn "dunstctl" "close"; }
    Mod+Ctrl+N repeat=false { spawn "dunstctl" "close-all"; }

    XF86MonBrightnessUp         allow-when-locked=true { spawn "brightnessctl" "-e" "set" "2%+"; }
    XF86MonBrightnessDown       allow-when-locked=true { spawn "brightnessctl" "-e" "set" "2%-"; }
    Shift+XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "-e" "set" "10%+"; }
    Shift+XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-e" "set" "10%-"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }

    XF86AudioMute    allow-when-locked=true repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@"   "toggle"; }
    XF86AudioMicMute allow-when-locked=true repeat=false { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86AudioPlay    allow-when-locked=true repeat=false { spawn "playerctl" "play-pause"; }
    XF86AudioPause   allow-when-locked=true repeat=false { spawn "playerctl" "pause" "--all-players"; }
    XF86AudioStop    allow-when-locked=true repeat=false { spawn "playerctl" "stop" "--all-players"; }
    XF86AudioPrev    allow-when-locked=true repeat=false { spawn "playerctl" "previous"; }
    XF86AudioNext    allow-when-locked=true repeat=false { spawn "playerctl" "next"; }

    // TODO: use nix
    Mod+1 { focus-workspace "1"; }
    Mod+2 { focus-workspace "2"; }
    Mod+3 { focus-workspace "3"; }
    Mod+4 { focus-workspace "4"; }
    Mod+5 { focus-workspace "5"; }
    Mod+6 { focus-workspace "6"; }
    Mod+7 { focus-workspace "7"; }
    Mod+8 { focus-workspace "8"; }
    Mod+9 { focus-workspace "9"; }
    Mod+0 { focus-workspace "0"; }
    Mod+q { focus-workspace "q"; }
    Mod+w { focus-workspace "w"; }
    Mod+e { focus-workspace "e"; }
    Mod+r { focus-workspace "r"; }
    Mod+a { focus-workspace "a"; }
    Mod+s { focus-workspace "s"; }
    Mod+d { focus-workspace "d"; }
    Mod+f { focus-workspace "f"; }
    Mod+Shift+1 { move-window-to-workspace "1"; }
    Mod+Shift+2 { move-window-to-workspace "2"; }
    Mod+Shift+3 { move-window-to-workspace "3"; }
    Mod+Shift+4 { move-window-to-workspace "4"; }
    Mod+Shift+5 { move-window-to-workspace "5"; }
    Mod+Shift+6 { move-window-to-workspace "6"; }
    Mod+Shift+7 { move-window-to-workspace "7"; }
    Mod+Shift+8 { move-window-to-workspace "8"; }
    Mod+Shift+9 { move-window-to-workspace "9"; }
    Mod+Shift+0 { move-window-to-workspace "0"; }
    Mod+Shift+q { move-window-to-workspace "q"; }
    Mod+Shift+w { move-window-to-workspace "w"; }
    Mod+Shift+e { move-window-to-workspace "e"; }
    Mod+Shift+r { move-window-to-workspace "r"; }
    Mod+Shift+a { move-window-to-workspace "a"; }
    Mod+Shift+s { move-window-to-workspace "s"; }
    Mod+Shift+d { move-window-to-workspace "d"; }
    Mod+Shift+f { move-window-to-workspace "f"; }
    Mod+Ctrl+Shift+1 { move-column-to-workspace "1"; }
    Mod+Ctrl+Shift+2 { move-column-to-workspace "2"; }
    Mod+Ctrl+Shift+3 { move-column-to-workspace "3"; }
    Mod+Ctrl+Shift+4 { move-column-to-workspace "4"; }
    Mod+Ctrl+Shift+5 { move-column-to-workspace "5"; }
    Mod+Ctrl+Shift+6 { move-column-to-workspace "6"; }
    Mod+Ctrl+Shift+7 { move-column-to-workspace "7"; }
    Mod+Ctrl+Shift+8 { move-column-to-workspace "8"; }
    Mod+Ctrl+Shift+9 { move-column-to-workspace "9"; }
    Mod+Ctrl+Shift+0 { move-column-to-workspace "0"; }
    Mod+Ctrl+Shift+q { move-column-to-workspace "q"; }
    Mod+Ctrl+Shift+w { move-column-to-workspace "w"; }
    Mod+Ctrl+Shift+e { move-column-to-workspace "e"; }
    Mod+Ctrl+Shift+r { move-column-to-workspace "r"; }
    Mod+Ctrl+Shift+a { move-column-to-workspace "a"; }
    Mod+Ctrl+Shift+s { move-column-to-workspace "s"; }
    Mod+Ctrl+Shift+d { move-column-to-workspace "d"; }
    Mod+Ctrl+Shift+f { move-column-to-workspace "f"; }
}
